/* // CSS styling. Should decide what goes there (Background, colors etc) */
.Main {
    margin-top: 10em;
}

.Layout {
    background-color: #8b9dc3;
}

.positioning {
    margin:auto; 
}

.paddingBottom {
    margin-bottom: 3em;
}