.Login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/photo-pic.jpg");
    background-size: cover;
}

.Login__content {
    width: 35%;
    background-color: rgb(202, 203, 195);
    padding: 61px;
    border-radius: 50%;
}

.buttons {
    display: flex;
    justify-content: center;
}

.Login-button {
    margin-right: 15px;
}

@media only screen and (max-width: 800px) {
    .Login__content {
        width: 100%;
    }
}

