.Register {
    height: 100vh;
    background-color: #dfe3ee;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Register__content {
    width: 30%;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
}

.Register__content__link {
    margin-top: 10px;
}

.Register__content h2 {
    padding-bottom: 2em;
}